/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
    background: #fafafa;
}

.wrapper{
    min-height: 100%;
    overflow: hidden;
    font-family: Montserrat;
    color: #252b42;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

._container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

/* ---HEADER---------------------------------------------------------------------- */

.header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    min-height: 104px;
    align-items: center;
}
@media(max-width:479px){
    .header__container {
        
        min-height: 70px;
        
    }
}

.header__logo {
    font-weight: 700;
    font-size: 24px;
    color: inherit;
}
.header__menu {
    margin: 0 0 0 133px;
}
@media(max-width: 992px){
    .header__menu {
        margin: 0 0 0 80px;
    }
}

@media(max-width: 767px){
    .header__menu {
        margin: 0 0 0 40px;
    }
}

@media(max-width: 479px){
    .header__menu {
        margin: 0 0 0 20px;
    }
}


.menu {
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
}

.menu__item:not(:last-child){
    margin: 0 21px 0 0;
}
.menu__link {
    font-weight: 600;
    line-height: 171%;
    color: #737373;
}
@media(max-width: 479px){
    .menu__link{
        font-size: 18px;
    }
}

/*---HEADER-BLOCK-----------------------------------------------------------------*/

.header-block {
    text-align: center;
    letter-spacing: 0.01em;
}
.header-block__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 143%;
    color: #252b42;
}
@media(max-width: 992px){
    .header-block__title{
        font-size: 35px;
    }
}

@media(max-width: 767px){
    .header-block__title{
        font-size: 30px;
    }
}

.header-block__title:not(:last-child){
    margin: 0 0 10px 0;
}

.header-block__sub-title {
    font-weight: 500;
    line-height: 143%;
    color: #737373;
}

/* ---PAGE---------------------------------------------------------------------- */

.page{
    flex: 1 1 auto;
}

.page__main-block {
}

.page__services {
    position: relative;
    z-index: 2;
    margin: -111px 0 0 0;
}

.page__advantages {
}

.page__pracitce {
}

.page__whoweare {
}

.page__clients {
    margin: 0 0 20px 0;
}

.page__subscribe {
}

.page__getintouch {
}

/* ---HEADER---------------------------------------------------------------------- */

.footer{

}

/* ---MAIN-BLOCK---------------------------------------------------------------------- */

.main-block {
    position: relative;
}


.main-block__container {
}
._container {
}
.main-block__body {
    max-width: 509px;
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 2;
}

@media (max-width: 992px){
    .main-block__body {
        padding: 120px 0 191px 0;
    }
}

@media (max-width: 479px){
    .main-block__body {
        padding: 110px 0 160px 0;
    }
}

.main-block__body > *:not(:last-child){
    margin: 0 0 35px 0;
}

.main-block__title {
    font-weight: 800;
    font-size: 58px;
    line-height: 138%;
    letter-spacing: 0.2px;
}

@media (max-width: 479px){
    .main-block__title {
        font-size: 42px;
    }
}

.main-block__text {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color:#737373;
}
.main-block__buttons {
    display: inline-flex;
    flex-wrap: wrap;
    margin: -10px 0;
}
.main-block__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 37px;
    padding: 5px 36px;
    min-height: 48px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.2px;
    text-align: center;
    margin: 10px 0;
}

@media(max-width:479px){
    .main-block__button {
        flex: 1 1 auto;
    }
}

.main-block__button:not(:last-child){
    margin-right: 10px;
}

.main-block__button_orange{
    background-color: #ff7b47;
    color: white;
}

.main-block__button_border {
    color: #0d5c63;
    border: 1px solid #0d5c63;
}

.main-block__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@media(max-width: 1300px) {
    .main-block__image img {
        object-position: right;
    }
}

@media(max-width: 992px){
   .main-block__image img {
        opacity: 0.5;
    }
}

/*--SERVICES--------------------------------------------------------------------------*/


.services {
}
.services__container {
}

.services_body {
    
}

@media(min-width: 670px){
    .services_body {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
}
@media(max-width:992px){
    .services_body {
        margin: 0 -15px -30px;
    }
}

.services__column {
    flex: 0 1 33.3%;
}

@media(min-width: 670px){
    .services__column {
        padding: 0px 15px;
    }
    
}



@media (max-width: 992px){
    .services__column {
        flex: 0 1 50%;
    }

    .services__column:last-child {
        flex: 1 1 100%;
    }

    .services__column{
        margin: 0  0 30px 0;
    }
}

.services__item {
    height: 100%;
    padding: 35px;
    box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
    background-color: #fff;
}

@media (max-width: 479px){
    .services__item {
       
        padding: 25px;

    }
}

.services__item_green{
    background-color: #0d5c63;
}

.services__item_green .item-service__title{
    color: white;
}

.services__item_green .item-service__text{
    color: #fff;
}


.item-service {
}

.item-service > *:not(:last-child) {
    padding: 0 0 10px 0;
}

.item-service__icon {
}
.item-service__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    color: #252b42;
}
.item-service__text {
    font-weight: 500;
    line-height: 143%;
    color: #737373;
}

/* -PAGE-ADVANTAGES--------------------------------------------*/


.advantages {
    padding: 80px 0;
}
@media (max-width: 992px) {
    .advantages {
        padding: 50px 0;
    }
}
@media (max-width: 767px) {
    .advantages {
        padding: 30px 0;
    }
}


.advantages__container {
}

.advantages__header {
    margin: 0 0 50px 0;
}

.advantages__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px -30px;
}
.advantages__column {
    padding: 0 15px;
    margin: 0 0 30px 0;
    flex: 0 1 25%;
    text-align: center;
}
@media(max-width: 1020px){
    .advantages__column{
        flex: 0 1 50%;
    }
}

@media(max-width: 560px){
    .advantages__column{
        flex: 0 1 100%;
    }
}

.advantages__item {
    padding: 30px;
    background: #fff;
    font-weight: 700;
}
.advantages__item > *:not(:last-child){
    margin: 0 0 10px 0;
}

.advantages__icon {
    height: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.advantages__value {
    font-size: 40px;
    line-height: 143%;
    color: #252b42;
}
.advantages__text {
    font-size: 16px;
    line-height: 150%;
    color: #737373;
}


.practice {
    padding: 80px 0;
}
@media (max-width: 993px){
    .practice {
        padding: 40px 0 80px 0;
    }
}
@media (max-width: 767px){
    .practice {
        padding: 0 0 40px 0;
    }
}

.practice__container {
}

.practice__header {
    margin: 0 0 45px 0;
}

.practice__body {
    margin: 0 -20 -30px;
    display: flex;
    flex-wrap: wrap;
}
.practice__column {
    padding: 0 20px;
    margin: 0 0 30px 0;
    flex: 0 1 25%;
}
@media (max-width: 1030px){
    .practice__column {
        flex: 0 1 50%;
    }
}
@media (max-width: 630px){
    .practice__column {
        flex: 0 1 100%;
    }
}

.practice__item {
    background: #fff;
}
.item-practice {
    display: flex;
    height: 100%;
    flex-direction: column;
}
.item-practice__content {
    padding: 30px;
    flex: 1 1 auto;
}
.item-practice__link {
    color: #252b42;
    display: inline-block;
}
.item-practice__link:hover{
    text-decoration: underline;
}
.item-practice__link:not(:last-child){
    margin: 0 0 15px 0;
}
.item-practice__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.01em;
}
.item-practice__text {
    letter-spacing: 0.01em;
    line-height: 143%;
    font-weight: 500;
    color: #737373;
}
.item-practice__image {
    display: block;
    padding: 0 0 60% 0;
}


/*-WHO-WE-ARE----------------------------------------------------------*/


.whoweare {
    background: #fff;
    padding: 100px 0 136px 0;
}


.whoweare__container {
}

.whoweare__header {
    margin: 0 0 100px 0;
}


.whoweare__body {
    display: flex;
    align-items: flex-start;
}

.whoweare__video {
    flex: 0 0 57%;
    padding: 0px 0px 42.3% 0px;
    position: relative;
    
}
.whoweare__video iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0 0 120px;
}

.whoweare__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 143%;
    letter-spacing: 0.01em;
    color: #252b42;
}
.whoweare__title:not(:last-child){
    margin: 0 0 10px 0;
}
.whoweare__top:not(:last-child){
    margin: 0 0 50px 0;
}
.whoweare__text {
    font-weight: 500;
    line-height: 143%;
    color:#737373;
}

.whoweare__item {
}
.whoweare__item:not(:last-child) {
    margin: 0 0 30px 0;
}
.item-whoweare {
    display: flex;
}
.item-whoweare__icon {
    flex: 0 0 32px;
}
.item-whoweare__body {
    flex: 1 1 auto;
    padding: 0 0 0 20px;
}
.item-whoweare__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #252b42;
}
.item-whoweare__title:not(:last-child){
    margin: 0 0 5px 0;
}
.item-whoweare__text {
    font-weight: 600;
    line-height: 171%;
    color: #737373;
}

@media(max-width: 1080px){
    .whoweare__content{
        padding: 0 0 0 50px;
    }
}

@media(max-width: 950px){
    .whoweare__title{
        font-size: 24px;
    }
    .whoweare {
        padding: 50px 0 50px 0;
    }
    .whoweare__content{
        padding: 0 0 0 0;
    }
     .whoweare__body{
        flex-direction: column-reverse;
        align-items: stretch;
    }
    .whoweare__video:not(:last-child){
        margin: 50px 0 0 0;
    }
    .whoweare__video{
        padding: 0 0 56.25% 0;
    }
    .whoweare__header {
        margin: 0 0 30px 0;
    }
}

@media(max-width: 767px){
    .whoweare {
        padding: 0 0 0 0;
    }
    .whoweare__top:not(:last-child){
        margin: 0 0 30px 0;
    }
    .whoweare__video:not(:last-child){
        margin: 30px 0 0 0;
    }
}


.clients {
    padding: 50px 0;
}
.clients__containter {
}

.clients__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.clients__item {
    flex: 0 1 16.6667%;
    padding: 8px 15px;
    text-align: center;
    min-width: 140px;
}
.clients__item img{
    max-width: 100%;
}

/*--SUBSCRIBE--------------------------------------------------------------*/


.subscribe {
    position: relative;
    padding-bottom: 20px;
}
.subscribe::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 77px;
    left:0;
    background: #252b42;
}

.subscribe__container {
}

.subscribe__body {
    position: relative;
    z-index: 2;
    background: #17213c;
    
    padding: 30px 50px;
    
    
    
    border-radius: 2px;
}
@media(min-width: 1070px){
    .subscribe__body{
        margin: 0 32px;
    }
}


.subscribe__title {
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
}
@media(min-width: 810px){
    .subscribe__title {
        max-width: 266px;
    }
    .subscribe__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media(max-width: 810px){
    .subscribe__title {
       margin: 0 0 30px 0;
    }
    .subscribe__body{
        margin: 0 -15px;
        padding: 20px 15px;
    }
}

.subscribe__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
}
.subscribe__input {
    width: 100%;
    border: 1px solid #e5e5e5;
    flex: 1 1 auto;
    border-radius: 5px 0 0 5px;
    padding: 0 25px;
    min-height: 58px;
    background: #f9f9f9;
    color: #737373;
    border-right: 0;
}
.subscribe__input:focus{
    color: #000;
}

.subscribe__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #ff7b47;
    border: 1px solid #e5e5e5;
    border-radius: 0 5px 5px 0;
    min-height: 58px;
    padding: 0 20px;
    line-height: 200%;
    color: #fff;
}

/*--GET-IN-TOUCH-----------------------------------------------------------------*/


.getintouch {
    padding: 80px 0 148px 0;
}
.getintouch__container {
}

.getintouch__header {
    margin: 0 0 80px 0;
}

.getintouch__items {
    margin: 0 -15px;
}
@media(min-width: 992px){
    .getintouch__items {
        margin: 0;
        display: flex;
        align-items: center;
    }
}
@media(max-width: 1010px){
    .getintouch {
        padding: 50px 0;
    }
    .getintouch__header {
        margin: 0 0 50px 0;
    }
}
.getintouch__item {
    flex: 0 1 33.3333%;
}
.getintouch__item > *:not(:last-child){
    margin: 0 0 15px 0;
}

.item-getintouch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 50px 15px;
}
.item-getintouch__icon {
}
.item-getintouch__emails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item-getintouch__email {
    color: inherit;
    font-weight: 600;
    line-height: 171%;
}
.item-getintouch__email:hover{
    text-decoration: underline;
}

.item-getintouch__label {
    font-weight: 700;
    line-height: 150%;
}

.item-getintouch__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 44px;
    border: 1px solid #ff7b47;
    color: #ff7b47;
    border-radius: 5px;
    padding: 5px 20px;
    font-weight: 600;
    line-height: 171%;
    transition: all 0.3s ease 0s;
}

.item-getintouch__button:hover {
    background-color: #ff7b47;
    color: #fff;
}

.item-getintouch_active{
    padding: 80px 15px;
    background: #252b42;
    color: #fff;
}

.item-getintouch_active .item-getintouch__button{
    border: 1px solid #fff;
    color: #fff;
}